
body{
    background-color: rgb(235, 229, 229);
    margin: 0;
}
/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5; /* optional background */
}

.header a {
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #333; /* change color as needed */
}

.circle-logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.circle-logo:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  transform: scale(2); /* makes logo slightly larger on hover */
}
/* topnave */
.topnav{
  outline: yellow 15px;
    overflow: auto;
    background-color: #333;
    justify-content: center;
}
#Login_Button{
  float: right;
  padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      transition: background-color 0.3s ease;
  /* justify-content: center;
  float: left;
  display: flex;
  align-items: center;
  margin-left: 20px;
  background-color: #ccc;
  text-align: center; */
}
#Login_Button:hover{
  background-color: coral;
}
#SigunupButton{
  float: right;
  margin-left: 20px;
  background-color: #4ad150;
  padding: 10px 20px;
  border-radius: 8px;
}
#SigunupButton:hover{
  background-color: coral;
}
.topnav a{
    float: left;
    padding: 14px 16px;
    display: block;
    color: red;
    text-align: center;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
/* left sidebar */
.container {
    display: flex;
    outline: #333 20px;
    height: 100vh; /* Full viewport height */
  }

  .sidebar {
    width: 250px;
    background-color: #2f7bc7;
    color: rgb(228, 22, 22);
    padding: 20px;
  }

  .sidebar h2 {
    margin-top: 0;
  }


/* main body row */
.column {
  float: left;
  padding: 10px;
}

.mainRow{
    border: 2px solid salmon;
   display: flex;
   gap: 20px;
}
  .d1, .d2 {
    flex: 1; /* Makes both divs take equal width */
    border: 1px solid #ccc; /* Optional: Just for visual separation */
    padding: 10px;
margin-top: 40px;
padding-top: 70px;
  }
/* Bottombar */ 
#bottombar{
border: solid black;
background-color: blue;
align-items: center;
text-align: center;
margin-bottom: 0%;
}
.test{
    padding-top: 40px;
    border: dotted black;
    background-color: aqua;
  
   
}
h1{
 text-align:center;
}
